* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

#root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100vh;
  --pink: #f2059f;
}
